<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen q :)
</p>

<tabset dndDropzone (dndDrop)="onDrop($event)" #someTabs>
	<tab *ngFor="let tab of tabsList;let index=index;">

		<ng-template tabHeading>
			<div id="tabIndex_{{index}}" [dndDraggable]="draggable.data" [dndEffectAllowed]="draggable.effectAllowed" [dndDisableIf]="index == 0"
      (dndCanceled)="onDraggableCancel($event);"
			 (dndMoved)="onDraggableMoved($event,index)" (dndEnd)="onDragEnd($event)">

				<i class="fa fa-star"></i>{{tab.title}}
        </div>
      </ng-template>

      {{tab.content}}

    </tab>

  </tabset>